@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --Color1: #202840;
  --Color2: #8095BF;
  --Color3: #A3B5D9;
  --Color4: #CEDEF2;
  --Color5: #F2F2F2;
  --Color6: #159A9C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

p {
  font-size: 18px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  /* Centrar horizontalmente en el contenedor */
}

.information {
  width: 70%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 25px 75px;
  margin-top: -75px;
  background-color: #fff;
}

.information-content {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.information-1 img {
  width: 35px;
}

h3 {
  font-size: 17px;
  color: #202840;
  text-transform: capitalize;
}

.information-1 p {
  margin-bottom: 0;
}

/* .oferts {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.ofert-1 {
  text-align: center;
  flex-basis: calc(25% - 20px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 35px;
}

.ofert-1 img {
  width: 140px;
  margin-bottom: 10px;
}

.ofert-1 p {
  font-size: 15px;
  margin: 0;
  font-weight: 600;
  color: #159A9C;
} */

.products {
  padding: 0 0 100px 0;
  text-align: center;
}

.products h2 {
  font-size: 40px;
  color: #202840;
  text-transform: capitalize;
  margin-bottom: 55px;
}

.product-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.product {
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 35px;
}

.product img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.product h3 {
  color: #159A9C;
}

.product p {
  font-size: 15px;
  margin: 0;
  color: #202840;
  font-weight: 600;
}

form {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;

}

input {
  padding: 12px 35px;
  border-radius: 25px;
  border: 1px solid #159A9C;
  outline: none;
  background-color: #fff;
}

@media(max-width:991px) {

  .information {
    display: none;
  }

  .oferts {
    padding: 30px;
    flex-direction: column;
  }

  .ofert-1 {
    margin-bottom: 25px;
  }

  .products {
    padding: 30px;
  }

  .product-content {
    grid-template-columns: repeat(1, 1fr);
  }
}