{% extends 'aquaPura/base.html' %}
{% load my_filters %}
{% block content %}

<main>
  <div class="mt-4" style="color: #43a3a5; padding-left: 5cqi">
    <h2>
      <a style="text-align: center; ">{{ user.first_name | upper }}, gracias por comprar con nosotros!</a>
    </h2>
  </div>
  
  <div class="container mt-4">
    <div class="row justify">

        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th style="color: #43a3a5; font-size: 30px;">Modo de Entrega</th>
              </tr>
            </thead>
            <table class="table table-borderless">
              <thead>
                  <thead>
                    <th>Despacho</th>
                    <th>Fecha de Entrega</th>
                    <th>Horario</th>
                    <th>Dirección</th>  
                  </thead>
              </thead>
              <tbody>
                <tr>
                  <td>Despacho a Domicilio</td>
                  <td>{{ sale.date|date:"d M Y" }}</td> <!-- Muestra solo la fecha -->
                  <td>{{ sale.date|time:"H:i" }}</td> <!-- Muestra solo la hora -->
                  <td>{{ sale.user.address }} {{ sale.user.numberAddress }}</td>
                </tr>
              </tbody>
            </table>
          </table>
        </div>

        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th style="color: #43a3a5; font-size: 30px;">Medio de Pago</th>
              </tr>
            </thead>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>Tarjeta Débito</td>
                  <td>**** **** **** 1234</td>
                </tr>
              </tbody>
            </table>
          </table>
        </div>
        
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th style="color: #43a3a5; font-size: 30px;">Detalles de Productos</th>
              </tr>
            </thead>
            <table class="table table-borderless">
              <thead>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Precio Unitario</th>
                  <th>Total</th> 
              </thead>
              <tbody>
                {% for sold_product in sold_products %}
                <tr>
                  <td>{{sold_product.product.name }}</td>
                  <td>{{sold_product.quantity }}</td>
                  <td>{{sold_product.product.price}}</td>
                  <td>{{ sold_product.quantity|multiply:sold_product.product.price }}</td>
                </tr>
                {% endfor %}
                <tr>
                  <td colspan="3" style="text-align: right;">Total de la compra:</td>
                  <td>{{ total }}</td>
                </tr>
              </tbody>
            </table>
          </table>
        </div>
      </main>
      {% endblock %}