{% extends 'aquaPura/base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"/>
      <link rel="stylesheet" href="/static/css/registro.css">
    <title>REGISTRO USUARIO</title>
  </head>

  <body>
    <div class="background-radial-gradient overflow-hidden">
      <div class="container ">
        <div class="row justify-content-center">
          <div class="col-md-8 background-register">
            <form class="row g-3" method="post">
              {% csrf_token %}
              
                <div class="col-md-8 mt-4">
                  <label for="id_first_name" class="form-label">Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombres" name="first_name" required />
                  {% if form.first_name.errors %}
                  <div class="alert alert-danger">
                    {{ form.first_name.errors|first }}
                  </div>
                  {% endif %}
                </div>
    
                <div class="col-md-4 mt-4">
                  <label for="id_rut" class="form-label">Rut</label>
                  <input type="text" class="form-control" placeholder="11222333-4" name="rut" required/>
                  {% if form.rut.errors %}
                  <div class="alert alert-danger">{{ form.rut.errors|first }}</div>
                  {% endif %}
                </div>
    
                <div class="col-md-6">
                  <label for="id_last_name" class="form-label">Apellido Paterno</label>
                  <input type="text" class="form-control" placeholder="Apellido Paterno" name="last_name" required />
                  {% if form.last_name.errors %}
                  <div class="alert alert-danger">
                    {{ form.last_name.errors|first }}
                  </div>
                  {% endif %}
                </div>
    
                <div class="col-md-6">
                  <label for="id_last_name2" class="form-label">Apellido Materno</label>
                  <input type="text" class="form-control" placeholder="Apellido Materno" name="last_name2" required/>
                  {% if form.last_name2.errors %}
                  <div class="alert alert-danger">
                    {{ form.last_name2.errors|first }}
                  </div>
                  {% endif %}
                </div>
    
                <div class="col-md-12">
                  <label for="id_email" class="form-label">Correo Electrónico</label>
                  <input type="email" class="form-control" placeholder="ejemplo@ejemplo.com" name="email" required />
                  {% if form.email.errors %}
                  <div class="alert alert-danger">
                    {{ form.email.errors|first }}
                  </div>
                  {% endif %}
                </div>
    
                <div class="col-md-6">
                  <label for="id_birthday" class="form-label">Fecha de Nacimiento</label>
                  <input type="date" class="form-control" name="birthdate" required/>
                  {% if form.birthdate.errors %}
                  <div class="alert alert-danger">
                    {{ form.birthdate.errors|first }}
                  </div>
                  {% endif %}
                </div>
    
                <div class="col-md-6">
                  <label for="id_phone_number" class="form-label">Celular</label>
                  <input type="text" class="form-control"placeholder="+56912341234 " name="phone" required />
                  {% if form.phone.errors %}
                  <div class="alert alert-danger">
                    {{ form.phone.errors|first }}
                  </div>
                  {% endif %}
                </div>
    
                
                      <div class="col-md-6">
                        <label for="id_city" class="form-label ciudad-label">Ciudad</label>
                        <div class="ciudad-input">
                            {{ form.city }}
                            {% if form.city.errors %}
                                <div class="alert alert-danger">
                                    {{ form.city.errors|first }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                      
                    <div class="col-md-6">
                      <label for="id_comuna" class="form-label comuna-label">Comuna</label>
                      <div class="comuna-input">
                          {{ form.comuna }}
                          {% if form.comuna.errors %}
                              <div class="alert alert-danger">
                                  {{ form.comuna.errors|first }}
                              </div>
                          {% endif %}
                      </div>
                  </div>
                
    
                  <div class="col-md-8">
                    <label for="id_direccion" class="form-label">Dirección</label>
                    <input type="text" class="form-control" placeholder="Calle Falsa" name="address" required />
                    {% if form.address.errors %}
                    <div class="alert alert-danger">
                      {{ form.address.errors|first }}
                    </div>
                    {% endif %}
                  </div>
    

                  <div class="col-md-4">
                    <label for="id_numeracion" class="form-label">N° Casa/Dpto</label>
                    <input type="number"class="form-control" placeholder="123" name="numberAddress" required/>
                    {% if form.numberAddress.errors %}
                    <div class="alert alert-danger">
                      {{ form.numberAddress.errors|first }}
                    </div>
                    {% endif %}
                  </div>
    
                  
                  <div class="col-md-6">
                    <label for="id_password1" class="form-label">Contraseña</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="password1" id="password1" required/>
                        <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('password1')">
                            <i id="eyeIcon1" class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                    </div>
                    {% if form.password1.errors %}
                        <div class="alert alert-danger">
                            {{ form.password1.errors|first }}
                        </div>
                    {% endif %}
                </div>
                
                <div class="col-md-6">
                    <label for="id_password2" class="form-label">Confirmar Contraseña</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="password2" id="password2" required />
                        <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('password2')">
                            <i id="eyeIcon2" class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                    </div>
                    {% if form.password2.errors %}
                        <div class="alert alert-danger">
                            {{ form.password2.errors|first }}
                        </div>
                    {% endif %}
                </div>
                
                <script>
                    function togglePassword(passwordFieldId) {
                        var passwordField = document.getElementById(passwordFieldId);
                        var icon = document.getElementById('eyeIcon' + passwordFieldId.charAt(passwordFieldId.length-1));
                
                        if (passwordField.type === "password") {
                            passwordField.type = "text";
                            icon.classList.remove("fa-eye");
                            icon.classList.add("fa-eye-slash");
                        } else {
                            passwordField.type = "password";
                            icon.classList.remove("fa-eye-slash");
                            icon.classList.add("fa-eye");
                        }
                    }
                </script>
    
                <div class="col-12" style="margin-bottom: 20px;">
                  <button type="submit" class="btn btn-dark">Registrarme</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
